:root {
  /* Escala de Grises y Negros para tu marca */
  --sl-color-accent-low: #1a1a1a;
  --sl-color-accent: #ffffff; /* El blanco resaltará sobre el negro */
  --sl-color-accent-high: #e0e0e0;
  
  /* Fondo Negro Total */
  --sl-color-bg: #000000;
  --sl-color-bg-nav: #050505;
  --sl-color-bg-sidebar: #050505;

  /* Texto para que sea legible */
  --sl-color-text: #ffffff;
  --sl-color-text-accent: #ffffff;
}

/* Efecto para que los bordes sean sutiles */
:root {
  --sl-color-hairline-light: #222222;
  --sl-color-hairline: #111111;
}
